<div>
    <img src="assets/img/Spotify-banner.jpg" class="d-block w-100 fixed jumbo" alt="...">
</div>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>{{errorMessage}}</p>
</div>


<div class="m-5" *ngIf="!loading">
    <div>
        <a class="homeTag" [routerLink]="['/new-releases']">New Releases</a>
        <app-carousel [items]="fewReleases"></app-carousel>
    </div>
    <div class="mt-5">
        <a class="homeTag" [routerLink]="['/playlists']">Playlists</a>
        <app-carousel3 [items]="playlists"></app-carousel3>
    </div>
    <div id="2" class="mt-5">
        <a class="homeTag" [routerLink]="['/recommendations']">Our Recommendations</a>
        <app-carousel2 [items]="recommendations"></app-carousel2>
    </div>
</div>