 
 <div id="carousel-playlists" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-columns">
        <div class="row">
          <div class="card">
            <img [src]="items[0].images[0].url" class="d-block w-100  fixed " alt="...">
          </div>
          <div class="card">
            <img [src]="items[1].images[0].url" class="d-block w-100 fixed " alt="...">
          </div>
          <div class="card">
            <img [src]="items[2].images[0].url" class="d-block w-100 fixed " alt="...">
          </div>
        </div>
     </div>
    </div>
    <div class="carousel-item">
      <div class="card-columns">
        <div class="row">
          <div class="card">
          <img [src]="items[3].images[0].url" class="d-block w-100  fixed " alt="...">
        </div>
          <div class="card">
          <img [src]="items[4].images[0].url" class="d-block w-100 fixed " alt="...">
        </div>
          <div class="card">
          <img [src]="items[5].images[0].url" class="d-block w-100 fixed " alt="...">
        </div>
        </div>
     </div>
    </div>
    <div class="carousel-item">
      <div class="card-columns">
        <div class="row">
          <div class="card">
          <img [src]="items[6].images[0].url" class="d-block w-100  fixed " alt="...">
        </div>
          <div class="card">
          <img [src]="items[7].images[0].url" class="d-block w-100 fixed " alt="...">
        </div>
          <div class="card">
          <img [src]="items[8].images[0].url" class="d-block w-100 fixed " alt="...">
        </div>
        </div>
     </div>
    </div>
  </div>
    <a class="carousel-control-prev" data-target="#carousel-playlists" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-target="#carousel-playlists" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div> 
